@font-face {
  font-family: "Cera Pro";
  src: url("font/CeraPro-Black.woff2");
  font-weight: 900;
}
@font-face {
  font-family: "Cera Pro";
  src: url("font/CeraPro-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Cera Pro";
  src: url("font/CeraPro-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Cera Pro";
  src: url("font/CeraPro-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Cera Pro";
  src: url("font/CeraPro-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "Cera Pro";
  src: url("font/CeraPro-Thin.woff2");
  font-weight: 100;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Cera Pro", Arial;
  background-color: linear-gradient(#F4FEFF, #FFFFFF);
}

button {
  cursor: pointer;
  font-family: "Cera Pro", Arial;
}

/* HEADER */

.header {
  display: flex;
  flex-direction: column;
  background-color: #1b1443;
  padding: 20px;
  color: #fff;
}

.row-1 {
  display: flex;
  align-items: center;
  padding-left: 250px;
  padding-right: 120px;
}

.left-section {
  margin-right: 40px;
}

.middle-section {
  margin-right: 30px;
  display: flex;
}

.search-bar {
  width: 900px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  margin: 0;
  border: none;
  padding: 15px;
  font-size: 18px;
  font-family: "Cera Pro";
}

.search-button {
  border: none;
  background-color: #fff;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.section-button {
  height: 50px;
  width: 40px;
  border-radius: 10px;
  border: none;
}

.account-button {
  background-color: #fff;
}

.cart-button {
  background-color: transparent;
}

.section-button img {
  height: 20px;
}

.row-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-nav {
  display: flex;
}

.page-nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding: 5px 20px;
  cursor: pointer;
  line-height: 40px;
}

.row-2 div:first-child {
  border-left: none;
}

.row-2 div:last-child {
  border-right: none;
}

/* INFO */

.info-container {
  display: flex;
  justify-content: center;
  background-color: #dcf7fe;
}

.info-item {
  display: flex;
  align-items: center;
  padding: 15px 80px;
  font-weight: 700;
}

.info-item img {
  height: 50px;
}

.info-text {
  color: #181545;
  margin-left: 20px;
  line-height: 40px;
}

.info-text span {
  color: #f47e20;
}

/* CAROUSEL */

.carousel-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

.circles-container {
  display: flex;
  padding: 10px;
  gap: 5px;
}

.circle {
  border-radius: 50px;
  height: 10px;
  width: 10px;
  background-color: #616161;
}

.current {
  background-color: #191445;
}

/* SECTIONS */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin-left: 300px;
  margin-right: 300px;
}

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section-title {
  color: #191445;
  margin-bottom: 15px;
  font-size: 25px;
  line-height: 40px;
}

.category-selection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  line-height: 24px;
}

.current-selected {
  border-bottom: 2px solid black;
}

.product-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.product-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.product-image img {
  height: 250px;
}

.offer-text {
  position: absolute;
  background-color: #000;
  color: #fff;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
}

.sold-out {
  background-color: #CE3A3A;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  position: absolute;
  color: #fff;
  top: 20px;
  right: 0;
  padding: 5px 10px;
  box-shadow: 2px 1px 7px #00000039;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-title {
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40px;
  line-height: 18px;
  text-align: left;
  color: #191445;
}

.product-description {
  text-align: center;
  max-width: 180px;
  font-size: 18px;
}

.product-stats {
  text-align: left;
  font-size: 15px;
  color: #191445;
}

.product-price {
  line-height: 24px;
  text-align: left;
  font-size: 16px;
}

.price-tag {
  color: #61C3C0;
  font-size: 22px;
  font-weight: 900;
}

.del-price {
  text-decoration: line-through;
  padding-right: 5px;
}

.new-price {
  color: #CC1818;
}

.product-button {
  background-color: #191445;
  border-radius: 20px;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 700;
}

/* MORE BUTTON */

.more-button {
  background-color: #191445;
  border-radius: 30px;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
}

/* PICK YOUR PET */

.pick-your-pet {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pick-your-pet .section-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
}

.button-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button-container button {
  background-color: #191445;
  width: 190px;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  font-size: 20px;
}
